/*hoja de estilos para proyecto web

sintaxis de css
selector {
    propiedades:valor;
    propiedad: valor;
    propiedad:valor;
    }
    selector {propiedad: valor; }
    // 3 tipos de selectores
    //1.- tipo etiqueta html
    body {margin: 0;}

    //2.- tipo clase
    .negrita { font-weight: bold; }

    //3.- tipo id (inicia con un #)
    #titulo-principal {font-size: 2 em;}
*/
body{

    font-family:"helvetica neue","helvetica","sans-serif";
}